
<!--Do not move div tag, the css won't work if its moved ahead of the a tag-->
<div class="title">Welcome to Black Rifle Hire Wes</div>


<div class="container position-relative">
  <div class="row ">
    <div class="col position-absolute top-50 start-50 translate-middle ">
      <div *ngIf="mainMenu">
        <a class=" menu-button" (click)="mainMenu = !mainMenu" routerLink="/me" routerLinkActive="active"> Who is this guy?</a>
  <a routerLink="/skill" class="menu-button" click="menuToggle()">What can he do?</a>
  <div class='contact'>
   {{name}} <br>
   {{eaddress}} <br>
   {{phone}}
  </div>
  </div>
   </div>
  </div>
</div> 
<div>
<!--<div [@routeAnimation]="prepareRoute(outlet)">-->
<router-outlet #outlet="outlet"></router-outlet>
</div>

