/* You can add global styles to this file, and also import other style files */
* {
	background-color: black
} 

@font-face {
	font-family: 'Veneer Two';
	src: url('./assets/fonts/VeneerTwo-webV3/VeneerTwo.woff2') format('woff2'),
	    url('./assets/fonts/VeneerTwo-webV3/VeneerTwo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
    }
    